
@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family:future ;
    src: url(./assets/future.ttf);
}
@font-face {
    font-family: mood;
    src: url(./assets/mood.ttf);
}